<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pizza cone
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-searchbar color="dark"></ion-searchbar>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="https://10619-2.s.cdn12.com/rests/small/w550/h367/105_505246953.jpg">
    </ion-thumbnail>
    <ion-label>Pizza cone de 4 queijos</ion-label>
    <ion-badge color="dark">R$12,00</ion-badge>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="http://shopblob.blob.core.windows.net/1204-produtoimagem/grd-conemix-CALABRESA.jpg">
    </ion-thumbnail>
    <ion-label>Pizza cone de calabresa</ion-label>
    <ion-badge color="dark">R$12,00</ion-badge>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="https://cdn.tonolucro.io/images/anuncio/A60d60d108a1f9.jpg">
    </ion-thumbnail>
    <ion-label>Pizza cone de Frango e catupiry</ion-label>
    <ion-badge color="dark">R$12,00</ion-badge>
  </ion-item>

</ion-content>
